.internationalRelations{
	.search{
		margin-bottom: 15rpx;
    .at-search-bar__input{
      padding: 0 74rpx !important;
      line-height: 60rpx;
    }
	}
	.tabs{
		.at-tabs__item--active {
			color:#003A80;
		}
		.at-tabs__item-underline{
			background-color:#003A80;
		}
	}
}
