@import "../../app.scss";
.entrance{
	display: inline-block;
	width: 33.333%;
	text-align: center;
	margin:40rpx 0;
	text{
		width:88rpx;
		height:32rpx;
		font-size:22rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(46,46,53,1);
		line-height:32rpx;
	}
	.icon1{
		font-size: 70rpx;
		color:#E68C35;
	}
	.icon2{
		font-size: 60rpx;
		color:#181E76;
	}
	.icon3{
		font-size: 60rpx;
		color:#A9D5FF;
	}

}