// @import "~taro-ui/dist/style/components/indexes.scss";
// @import "~taro-ui/dist/style/components/list.scss";

.connectionMemberBase{
	background-color: #fff;
	display: flex;
	align-items: center;
	height:240rpx;
	background:rgba(255,255,255,1);
	box-shadow:0rpx 0rpx 12rpx -4rpx rgba(0,0,0,0.23);
	border-radius:8rpx;
	margin:20rpx;
	.border{
		width:20rpx;
		height:240rpx;
		// background:rgba(0,58,128,1);
		border-radius:8rpx 0rpx 0rpx 8rpx;
		margin-right: 30rpx;
	}
	.photo{
		padding: 40rpx 0;
		width:154rpx;
		height:200rpx;
		overflow:hidden;
		margin-right: 40rpx;
		image{
			width: 154rpx;
			height: 200rpx;
		}
	}
	.info{
		padding: 40rpx 0;
		font-size:24rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(0,0,0,1);
		line-height:64rpx;
		.name{
			width:120rpx;
			height:44rpx;
			font-size:32rpx;
			font-family:PingFangSC-Medium;
			font-weight:500;
			color:rgba(0,0,0,1);
			line-height:44rpx;
			display: inline-block;
			margin-right: 30rpx;
		}
		.position{
			display: inline-block;
		}
		.company{
			max-width:380rpx;
			height: 96rpx;
			display: flex;
			align-items: center;
			font-size:28rpx;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(58,58,58,1);
			line-height:40rpx;
            overflow: hidden;
		}
	}
  .mb42{
    margin-bottom: 42px;
  }
}
