page {
  background-color: rgba(236,236,236,1);
} 
.activityDetail{
	background-color: rgba(236,236,236,1);
	padding-bottom: 40rpx;
	.logo{
		width:180rpx;
		height:100rpx;
		margin:20rpx;
		display: inline-block;
	}
	.apply{
		margin:auto;
		margin-top: 60rpx;
		width: 90%;
		background:rgba(0,58,128,1);
		width: calc(100% - 36rpx);
	}
	.at-button--primary{
		border:1PX solid rgba(0,58,128,1);
	}
	.brands{
		white-space:nowrap;
		width:750rpx;
		overflow:auto;
	}
	.brand{
		display: inline-block;
		text-align:center;
		margin-right: 30rpx;
		.brandImg{
			width: 270rpx;
			height:160rpx;
		}
		.subTitle{
			display: block;
		}
	}
	.title{
		font-size:32rpx;
		font-family:PingFangSC-Medium;
		font-weight:500;
		color:rgba(25,25,25,1);
		line-height:44rpx;
		padding: 40rpx;
		background-color: #fff;
	}
	.form{
		background-color: #fff;
		margin-top:20rpx;
		padding:0 40rpx;
		.formItem{
			padding:40rpx 0;
			border-bottom:2rpx solid rgba(234,234,234,1);
			.value,.label,.text{
				font-size:28rpx;
				font-family:PingFangSC-Regular;
				font-weight:400;
				line-height:40rpx;
			}
			.label{
				display: inline-block;
				color:rgba(175,174,179,1);
				width:140rpx;
			}
			.value{
				display: inline-block;
				color:rgba(43,43,43,1);
			}
			.button{
				display: inline-block;
				border-left:1px solid rgba(220,220,220,1);
				float:right;
				padding: 0 32rpx;
			}
			.icon,.text{
				display: inline-block;
				margin-right: 6rpx;
			}
			.text{
				color:rgba(182,182,182,1);
			}
			.main{
				color: #357FD7;
			}
		}
	}
	.messageList{
		padding: 20rpx;
		.message{
			border-bottom:2rpx solid rgba(234,234,234,1);
			padding: 36rpx 0;
			.userInfo{
				display: flex;
				margin-bottom: 30rpx;
				.photo{
					margin-right:30rpx;
					image{
						width: 100rpx;
						height: 100rpx;
						border-radius: 50%;
					}
				}
				.name{
					font-size:28rpx;
					font-family:PingFangSC-Medium;
					font-weight:500;
					color:rgba(0,0,0,1);
					line-height:40rpx;
					margin-bottom: 14rpx;
				}
				.post{
					font-size:24rpx;
					font-family:PingFangSC-Regular;
					font-weight:400;
					color:rgba(153,153,153,1);
					line-height:34rpx;
				}	
			}
			.words{
				font-size:28rpx;
				font-family:PingFangSC-Regular;
				font-weight:400;
				color:rgba(0,0,0,1);
				line-height:40rpx;
				margin-bottom:20rpx;
			}
			.time{
				display: flex;
				justify-content: space-between;
			}
			.date{
				font-size:24rpx;
				font-family:PingFangSC-Regular;
				font-weight:400;
				color:rgba(153,153,153,1);
				line-height:34rpx;
			}
			.button{
				display: flex;
				font-size:24rpx;
				font-family:PingFangSC-Regular;
				font-weight:400;
				color:rgba(153,153,153,1);
				line-height:34rpx;
				.icon{
					line-height:40rpx;
					margin-right: 4rpx;
					font-size: 28rpx;
				}
			}
		}
	}
	.detailPhotos{
		display: blcok;
		height: 100vh;
	}
	.content{
		width: 100%;
	}
	.button-group{
		display: flex;
		justify-content: space-around;
		margin-top:40rpx;
		button{
			width:214rpx;
		}
	}
	.displayNone{
		display: none;
	}
}