.create{
	.photo{
		background-color: #fff;
		border-bottom:1px solid rgba(236,236,236,0.6);
		padding-left: 20rpx;
		display: flex;
		justify-content: space-between;
		.label{
			font-size:36rpx;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(56,56,56,1);
			line-height:140rpx;
		}
		.value{
			position:relative;
			width: 130rpx;
			height: 130rpx;
			text-align: center;
			background-color: rgba(236,236,236,0.6);
			border-radius: 50%;
		}
		at-image-picker{
			position: absolute;
			top: 0;
			right: 20rpx;
			width: 130rpx;
			height: 130rpx;
			border-radius: 50%;
			opacity: 0;
		}
		image{
			width: 130rpx;
			height: 130rpx;
			border-radius: 50%;
		}
	}
	.submitButton{
		margin-top: 60rpx;
		.button{
			width: 80%;
			margin:auto;
			background:rgba(0,58,128,1);
		}
	}
	.displayNone{
		display: none;
	}
}