.banner{
	height:286rpx;
	margin-top: 20px;
	.bannerItem{
		width:720rpx;
		height:286rpx;
		text-align: center;
		image{
			width: 720rpx;
			height:286rpx;
			margin:auto;
			border-radius: 10rpx;
		}
	}
}