.presidium{
	margin-bottom:50rpx;
	.title{
		width:184rpx;
		height:50rpx;
		font-size:36rpx;
		font-family:PingFangSC-Medium;
		font-weight:500;
		color:rgba(41,40,40,1);
		line-height:50rpx;
		margin-top: 40rpx;
		margin-bottom: 30rpx;
		margin-left: 30rpx;
	}
	.presidiumList{
		white-space: nowrap;
		overflow-x: auto;
		padding:10rpx;
		line-height: 360rpx;
	}
	.presidiumItem{
		display: inline-block;
		text-align: center;
		width:240rpx;
		height:360rpx;
		background:rgba(255,255,255,1);
		box-shadow:0rpx 2rpx 24rpx 0rpx rgba(231,231,231,0.5);
		border-radius:10rpx;
		margin-right: 34rpx;
		padding-top: 20rpx;
		float: left;
		
	}
	.photo{
		width:170rpx;
		height:170rpx;
		margin:auto;
		position: relative;
		margin-bottom:10rpx;
		image{
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			width:170rpx;
			height:170rpx;
		}
	}
	.name{
		height:40rpx;
		font-size:28rpx;
		font-family:PingFangSC-Medium;
		font-weight:500;
		color:rgba(46,46,53,1);
		line-height:40rpx;
	}
	.post{
		font-size:20rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(72,128,255,1);
		line-height:40rpx;
		min-height: 40rpx;
	}
	.company{
		height: 52rpx;
		line-height: 26rpx;
		font-size:20rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(46,46,53,1);
		line-height:26rpx;
		word-break:normal; 
		display:block; 
		white-space:pre-wrap;
		word-wrap: break-word;
		padding: 0 28rpx;

	}
	.presidiumContent{
		width: 100%;
		overflow-x: auto;
	}
}