.entranceList{
	display: flex;
	flex-wrap: wrap;
    justify-content:space-around;
}
.entrance{
	width: 33.33%;
	text-align: center;
	margin-top: 70rpx;
	padding: 0rpx 44rpx;
	box-sizing:border-box;
	text{
		width:88rpx;
		height:32rpx;
		font-size:22rpx;
		font-family:PingFangSC-Regular;
		font-weight:400;
		color:rgba(46,46,53,1);
		line-height:32rpx;
	}
	.png{
		width:160rpx;
		height: 160rpx;
		img{
			max-height: 100%;
			max-width: 100%;
		} 
	}
}