.activitysInformation{

  .search{
    .at-search-bar__input{
      padding: 0 74rpx !important;
      line-height: 60rpx;
    }
  }

	.at-fab{
		position:fixed;
		bottom:200rpx;
		right:20rpx;
		background-color: #003A80;
	}
	.displayNone{
		display: none;
	}
}
