.internationalRelations{
	.search{
		margin-bottom: 80rpx;
	}
	.at-fab{
		position:fixed;
		bottom:200rpx;
		right:20rpx;
		background-color: #003A80;
	}
	.tabs{
		.at-tabs__item--active {
			color:#003A80;
		}
		.at-tabs__item-underline{
			background-color:#003A80;
		}
	}
}