page {
  background-color: rgba(236,236,236,1);
} 
.joinUs{
	background-color: rgba(236,236,236,1);
	padding-bottom: 40rpx;
	margin-top: 4rpx;
	.position{
		background-color: #fff;
		padding: 40rpx;
	}
	.form{
		width:90vw;
	}
	.formItem{
		position:relative;
		padding:24rpx 0;
		color:#333;
		background-color:#FFF;
		margin-left:32rpx;
		margin-bottom:1PX;
		position:relative;
		border-bottom: 2rpx solid #efefef;
		.title{
			margin-right:16rpx;
			width:172rpx;
			font-size:32rpx;
			line-height:1.5;
			vertical-align:middle;
			text-align:left;
			display:inline-block;
		}
		.content{
			color:#333;
			font-size:32rpx;
			line-height:1.5;
			height:auto !important;
			min-height:auto !important;
			display: inline-block;
		}
	}
	.submitButton{
		margin-top: 60rpx;
		.button{
			width: 80%;
			margin:auto;
			background:rgba(0,58,128,1);
		}
	}
}