page {
	background-color: rgba(236,236,236,1);
} 
.register{	
	.textarea{
		margin-top:40rpx;
		padding: 40rpx;
	}
	.submit{
		margin:auto;
		width:80%;
		background:rgba(0,58,128,1);
		border-radius:8rpx;
		margin-top: 100rpx;
	}
	.picker{
		background-color: #fff;
		padding:20rpx;
		margin-top: 20rpx;
	}
}