page {
  background-color: rgba(236,236,236,1);
} 
.minEditor{
	.displayNone{
		display: none;
	}
	.apply{
		margin:auto;
		margin-top: 60rpx;
		width: 90%;
		background:rgba(0,58,128,1)
	}
	.at-button--primary{
		border:1PX solid rgba(0,58,128,1);
	}
}