.myScore{
	.header{
		height: 360rpx;
		border-bottom:2rpx solid rgba(236,236,236,1);
		text-align: center;
		padding-top: 100rpx;
		.score{
			font-size:72px;
			font-family:PingFangSC-Medium;
			font-weight:500;
			color:rgba(0,0,0,1);
			line-height:100rpx;
		}
		.subtitle{
			font-size:28rpx;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(153,153,153,1);
			line-height:40rpx;
		}
	}
	.content{
		padding: 40rpx;
		.title{
			font-size:36rpx;
			font-family:PingFangSC-Medium;
			font-weight:500;
			color:rgba(0,0,0,1);
			line-height:50rpx;
			margin-bottom: 40rpx;
		}
		.list{
			background:rgba(255,255,255,1);
			box-shadow:0rpx 0rpx 12rpx -4rpx rgba(0,0,0,0.34);
			.item{
				display: flex;
				justify-content: space-between;
				border:2rpx solid rgba(236,236,236,1);
				padding: 30rpx;
			}
			.name,.time,.value{
				font-family:PingFangSC-Regular;
				font-weight:400;
				color:rgba(0,0,0,1);
				line-height:40rpx;
			}
			.name{
				font-size:28rpx;
				
			}
			.time{
				font-size:24rpx;
			}
			.value{
				font-size:36rpx;
				line-height:50rpx;
				float: right;
			}
		}
	}
	.apply{
		margin:auto;
		margin-top: 60rpx;
		width: 90%;
		background:rgba(0,58,128,1)
	}
	.at-button--primary{
		border:1PX solid rgba(0,58,128,1);
	}
}