.internationalRelations{
	padding: 40rpx;
	.search{
		margin-bottom: 80rpx;
	}
	.suggessGroup{
		margin-bottom:60rpx;
	}
	.suggess{
		.title{
			font-size:32rpx;
			font-family:PingFangSC-Regular;
			font-weight:400;
			color:rgba(99,99,99,1);
			line-height:4rpx;
			margin-bottom: 40rpx;
		}
	}
}